# Server Configuration
SERVER_PORT=3000
SERVER_URL=http://localhost:3000
NODE_ENV=DEVELOPMENT

# Database Configuration
MONGO_URI=mongodb://localhost:27017/sciolto

# Frontend Origin
CLIENT_ORIGIN=http://localhost:5173

# Authentication
JWT_SECRET=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ImageKit Storage
IMAGEKIT_PRIVATE_KEY=

# Resend Mail config
RESEND_API_KEY=
RESEND_USER=

# Google Mail config (Gmail API)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_USER=
GOOGLE_REFRESH_TOKEN=

#Artillery Testing Key
ARTILLERY_TESTING_API_KEY=

#RazorPay Keys
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRECT=